footer {
    background-color:#222222;
    margin-top:5%;
    padding:2% 0 2% 0;
}

button {
    border:none;
    background-color:transparent;
    color:rgba(255, 255, 255, 0.205);
}

.boxFooter, .boxCopy {
    display:flex;
    text-align:center;
    justify-content:center;
}

button:hover {
    color:#3700B3;
}

.boxCopy {
    font-size:12px;
    margin-top:2%;
}
