.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: #272727;
}

.profile label {
    margin-bottom: .6em;
    font-weight: bold;
}

.profile input {
    padding: .7em;
    border-radius: 0;
    border: none;

}

.profile input::placeholder{
    color: #7b7b7b;
}