/*cabeçalho do post*/
.userPost {
    height: inherit;
    width:100%;
    font-size:12px;
    padding-left:3%;
    padding-top:3%;
}

.userPost button {
    border: none;
    background-color:transparent;
    font-weight:bold;
    
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    
}

.posts .post {
    border:none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color:#F8F9FA;
}

.corpoPost {
    margin-top:3%;
}

.botaoLike {
    height: 50%;
}

